name: Sync-Docker-Image-To-GHCR

on:
  push:

env:
  SOURCE_IMAGE: n8nio/n8n:1.113.0
  TARGET_NAMESPACE: just-do1

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Sync Docker Image
        run: |
          set -e

          echo "Source image: ${SOURCE_IMAGE}"

          IMAGE_NAME=$(echo "${SOURCE_IMAGE}" | cut -d':' -f1)
          IMAGE_TAG=$(echo "${SOURCE_IMAGE}" | cut -d':' -f2)

          TARGET_IMAGE=ghcr.io/${TARGET_NAMESPACE}/${IMAGE_NAME}:${IMAGE_TAG}

          docker pull ${SOURCE_IMAGE}
          docker tag ${SOURCE_IMAGE} ${TARGET_IMAGE}
          docker push ${TARGET_IMAGE}

          echo "Sync finished: ${TARGET_IMAGE}"
